body{
    margin: 0;
    padding: 0;
}

.nav-item{
    text-decoration: none;
}

.videoWrap{
    text-align: center;
    margin: 3rem auto 0 auto;
    width: 1000px;
    height: 750px;
}

.btns{
    width: 350px;
    margin: 0 auto;
    display: flex;
}

button{
    margin: 0 auto;
}

.loginInfo {
    margin-left: 10rem;
}

.navbar-nav {
    align-items: baseline;
}