@charset "UTF-8";

#scheduleList {
	margin: 0;
	padding: 0;
	width: 12vw;
	height: 90vh;
	overflow-x: hidden;
	overflow-y: scroll;
	
}


.schedule {
	min-height: 120px;
}

.scheduleItem {
	border: 0px;
	background-color: transparent;
}

.nDay {
	margin-left: 2vw;
}