main{
    width: 90rem;
    height: 40rem;
    margin: 50px auto;
}

.lectureTitle{
    margin-left: 10rem;
}

.tableWrap{
    width: 80rem;
    padding: 10px;
    table-layout: fixed;
    word-break: break-all;
    text-align: center;
    margin: 0 auto;
}

table{
    table-layout: fixed;
    word-break: break-all;
    text-align: center;
    width: 75rem;
}

tr{
    border-bottom: 1px solid lightgray;
    padding: 30px;
}
tbody > tr{
    cursor: pointer;
}

th, td{
   padding: 15px;
}

/* filter */

.filter{

}

.filterWrap {
    width: 70rem;
    padding: 20px 0;
    margin: 25px 25px 25px 120px;
}
.filterWrap .filterList{
    display: flex;
    justify-content: end;
}

.filterWrap .filterList ul li{
    padding: 0 15px;
}

.filterWrap .filterList ul li select,
.filterWrap .filterList input{
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding: 0 14px;
    letter-spacing: 2px;
}

.filterWrap .filterList input{
    width: 30%;
}
.filterWrap .filterList ul li select option{
    letter-spacing: 2px;
}

.filterWrap .filterList ul li select:focus,
.filterWrap .filterList input:focus{
    box-shadow: 0 0 5px #86b7fe;
    border: 1px solid #86b7fe;
    border-radius: 1rem;
}

.filterWrap .filterList ul li select:focus-visible,
.filterWrap .filterList input:focus-visible{
    outline: 1px solid #86b7fe;
    border-radius: 1rem;
}




@media screen and (max-width: 1024px) {
    .loginForm{
        margin: 20px auto;
    }

    main{
        width: 50rem;
        padding: 20px 0;
    }

    .lectureTitle{
        margin-left: 5rem;
    }

    .filterWrap{
        width: 50rem;
        padding: 20px 0;
        margin: 25px 25px 25px 0px;
    }

    .tableWrap {
        width: 50rem;
        padding: 30px;
    }

    table{
    margin-left: 0;
    height: 35rem;
    table-layout: fixed;
    word-break: break-all;
    text-align: center;
    width: 50rem;
    overflow: auto;
    }
    
    .hide{
        display: none;
    }
    
    .loginInfo {
    margin-right: 0;
    font-size:0.9rem;
    }
}